<nav class="tabs">
	<a href="#Evaluar" class="tabs__item selected">Evaluar</a>
	<a href="#Historial" class="tabs__item">Historial</a>
	<a href="#Historial" class="tabs__item">Reportes</a>
</nav>



<section ng-if="tabEvaluar">

	<article class="card--avatar" data-card>

		<div class="card__icon">
			<span class="mdfi_notification_event_note"></span>
		</div>

		<div class="card__content">
			<h3 class="card__title">{{month}}</h3>
			<h4 class="card__sub-title">{{date}}</h4>
			<a href="#" class="card__link">{{periodoMessage }}</a>
		</div>

	</article>
	
	<article class="card" >
		<div class="card__content" ng-show="periodoRegitered">Los campos Globales del presente periodo ya han sido registrados :) </div>
		<div class="card__content" ng-hide="periodoRegitered">Indique los indicadores globales del presente mes</div>
	</article>

	<article class="card" ng-hide="periodoRegitered">

		<form name='form' novalidate>

		<section>

			<input type="number" required name="visitas_x_mes" placeholder="Visitas realizadas por mes" ng-model="formApp.campoevaluacion.id_campo_1" />

			<input type="number" required name="num_ventas_deseadas" placeholder="Nº ventas Deseado para el presente mes" ng-model="formApp.campoevaluacion.id_campo_2" />

			<input type="number" required name="total_trabajadores" placeholder="Total de Trabajadores" ng-model="formApp.campoevaluacion.id_campo_3" />

			<input type="number" required name="trabajadores_rotados" placeholder="Número de Trabajadores rotados o retirados" ng-model="formApp.campoevaluacion.id_campo_4" />

		</section>
		
		<section class='modal__controls'>

			<input type="submit" ng-model="formApp.campoevaluacion.submit" ng-click="formActions.submit(form)" value="Registrar">

		</section>

		</form>

	</article>

	<article class="card">
		<section class="card__content">
			Seleccione un Trabajador para ser evaluado
		</section>
	</article>

	<section data-list data-items='trabajadores' data-type='inline' data-photo="photo" data-click="evaluar"></section>

</section>

<section ng-if="tabHistorial"> 

</section>

<section ng-if="tabReportes"> 

</section>
