<figure class="sidenav__cover--4x3" id="vendedor-photo" >

</figure>

<form name='form' novalidate>

	<section>

		<input type="number" required name="nombres" placeholder="Ventas Realizadas por mes" ng-model="formApp.id_campo_5" />

		<input type="number" required name="apellido_paterno" placeholder="Días trabajados por mes" ng-model="formApp.id_campo_6" />

		<input type="number" required name="apellido_materno" placeholder="Dias ausentes" ng-model="formApp.id_campo_7" />

	</section>
	
	<section class='modal__controls'>

		<input type="submit" ng-model="formApp.submit" ng-click="formActions.submit(form)" value="Registrar">
		
	</section>

	</form>