@import 'bourbon/bourbon';

$color-black : #000;
$color-divider: rgba($color-black, .27);


// Sidenav
$sidenav-min-width: 264px; 
$sidenav-width: 20%; 
$sidenav-max-width: 400px; 

$sidenav-breakpoint: 320px ;

.toolbar[data-name="toolbar-right"].extend .toolbar__title { // fix sidenav right
	margin-left: 1em;
}


@media only screen and ( min-width: $sidenav-breakpoint * 2 ) {
	.x2 {
		section {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		legend {
			width: 100%;
			border-bottom: em(2) solid $color-divider;
		}
		.wrapper {
			@include calc('width', ' 50% - 0.5em ' );
		}
		.modal__controls {
			justify-content: flex-end;
		}
	}

}
