
		<article class="card">

					<div class="card__cover">
						<img src="assets/images/404-cover.jpg" alt="" class="card__cover__image"/>
					</div>

					<h3 class="card__title"> 404 Error | Not found </h3>

					<div class="card__content">
						<p>
							La sección no fue encontrada :(
						</p>
					</div>
						
		</article>