<section class='list--figure-controls'> 

	<!-- only show when the type of list is MULTILINE -->
	<nav class="list__header" ng-if=" vm.multiline ">
		<a class="list__header__name" ng-repeat="(field,value) in items[0]" ng-hide=" (field == 'id' || field == photo) "> {{field}} </a>  
	</nav>
	
	<!-- bODY -->
	<article class="list__item" ng-repeat="(index, item) in items | filter:search | orderBy: orderBy" >
		<!-- photo -->
		<img ng-if="vm.photo" ng-src="{{serverUrl}}/public/persona/{{item.photo}}" class="list__item__img"  ng-click="click(item.id, $event)"/>
		<!-- first letter -->
		<span ng-if="vm.icon"class="list__item__icon" ng-click="click(item.id, $event)"> {{ vm.nameIcon(item.title) | uppercase }} </span>

		<div ng-if=" vm.multiline " class="list__item__content--multiple"  ng-click="click(item.id, $event)">
			<h3 class="list__item__content__title" ng-repeat="(field,value) in item" ng-hide=" (field == 'id' || field == photo) "> {{value}} </h3>
		</div>

		<div ng-if="vm.inline" class="list__item__content" ng-click="click(item.id, $event)">
			<h3 class="list__item__content__title"> {{ item.title || 'title' }} </h3>
			<h4 class="list__item__content__sub-title"> {{ item.subtitle || 'sub title' }} </h4>
		</div>
		
				
	</article>  

</section> 

