<section yemd-sidenav data-type="right" data-show="1024">

	<header class="toolbar">

		<h1>Nuevo</h1>
	
	</header>

	<section>
		<form name='form' yemd-form inputs='data' module='module' models='app' data-type='new' novalidate></form>
	</section>
			

</section>	
