.toolbar[data-name="toolbar-right"].extend .toolbar__title{margin-left:1em}@media only screen and (min-width: 640px){.x2 section{display:flex;flex-wrap:wrap;justify-content:space-between}.x2 legend{width:100%;border-bottom:0.125em solid rgba(0,0,0,0.27)}.x2 .wrapper{width:-webkit-calc( 50% - 0.5em );width:calc( 50% - 0.5em )}.x2 .modal__controls{justify-content:flex-end}}
/*# sourceMappingURL=app.css.map */
