<!DOCTYPE html>
<html lang="es" data-ng-app="app">
<head>
	<meta charset="UTF-8">
	<title> {{ app.title }} </title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--<link rel="stylesheet" href="lib/yemd/yemd.css" />-->
	<link rel="stylesheet" href="http://localhost:9000/css/yemd.css" />
	<link rel="stylesheet" href="css/app.css" />
	<link rel="stylesheet" href="vendor/material-design-fonticons/styles/mdfi.css" />
</head>
<body>
	
	<!-- Appbar -->
	<header class="toolbar" data-name="appbar" id="appbar">

		<span class="mdfi_navigation_menu" ng-click="app.openMenu('left')"></span>
		
		<span class="mdfi_navigation_apps" ng-click="app.openMenu('right')"></span>

		<h1 class="toolbar__title"> Korea Motos </h1>
	</header>

	<!-- Sidenav -->
	<nav class="sidenav--left" data-sidenav="left">

		<figure class="sidenav__cover" data-cover="assets/images/cover.jpg">
			<figcaption class="sidenav__cover__text">
				soporte@koreamotors.com.pe
			</figcaption>
		</figure>

		<section class="sidenav__content" ng-controller="menu"> 

			<a class="sidenav__content__link" ng-click="goToState('home')" ng-show="app.logged"> Inicio </a>  

			<a class="sidenav__content__link" ng-repeat="(key, value) in app.menu" ng-hide=" value.nombreModel == 'area' || value.nombreModel == 'cargo' || value.nombreModel == 'reportes' || value.nombreModel == 'usuario' || value.nombreModel == 'campo' " ng-click='goToState(value.nombreModel+".list")' > {{ value.nombre }} </a> 

			<a class="sidenav__content__link" ng-click="app.logout()" ng-show="app.logged"> Cerrar sesión </a>  

		</section>
			
	</nav>

	<!-- Sidenav Right --> 
	<section class="sidenav--right" data-sidenav="right">

		<header class="toolbar" data-name="toolbar-right">
			<span class="mdfi_navigation_cancel" ng-show="app.toolbarIcon.cancel.show" ng-click="app.toolbarIcon.cancel.click()"></span>
			<span class="mdfi_editor_mode_edit" ng-show="app.toolbarIcon.edit.show" ng-click="app.toolbarIcon.edit.click()"></span>
			<span class="mdfi_action_delete" ng-show="app.toolbarIcon.delete.show" ng-click="app.toolbarIcon.delete.click()"></span>
			
			<h1 class="toolbar__title"> Toolbar </h1>
		</header>

		<section class="sidenav__content" ui-view="sidenavRight"> 
			Lorem ipsum dolor sit amet, consectetur adipi 
		</section>

	</section>	

	<main class="canvas" ui-view >

	</main>

	<script src="vendor/ng-file-upload/angular-file-upload-html5-shim.min.js"></script>

	<script src="vendor/jquery/dist/jquery.min.js"></script> 
	<script src="vendor/angular/angular.min.js"></script>
	<script src="vendor/ng-file-upload/angular-file-upload.min.js"></script>

	<script src="vendor/verge/verge.min.js"></script>
	<script src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
	
	<script src="http://localhost:9000/js/yemd.full.js"></script>
	<!--<script src="lib/yemd/yemd.full.js"></script>-->

	<script src="js/app.js"></script>
	<script src="js/menu-controller.js"></script>

	<!-- sections -->
	<script src="js/login/login.js"></script>
	<script src="js/home/home.js"></script>
	<script src="js/ventas/ventas.js"></script>
	<script src="js/vendedores/vendedores.js"></script>
	<script src="js/items/items.js"></script>
	<script src="js/evaluacion/evaluacion.js"></script>

	<!-- components app -->
	<script src="js/components/services/rest.js"></script>
	<script src="js/components/services/list.js"></script>
	<script src="js/components/services/find-by-attribute.js"></script>

	<script src="js/components/directives/form.js"></script>
	<script src="js/components/directives/list.js"></script>

</body>
</html>
