
		<div class="card--avatar" data-card data-photo="{{serverUrl}}/public/persona/{{vm.user.photo}}">

			<div class="card__photo"  >
			</div>

			<div class="card__content">
				<h3 class="card__title">{{ vm.user.fullname }}</h3>
				<h4 class="card__sub-title">{{ vm.user.cargo }}</h4>
				<a href="#" class="card__link">{{ vm.user.usuario }}</a>
			</div>
		</div>