		

		<section class='list--figure-multiples'> 

			<nav class="list__header">
				<a class="list__header__name" ng-repeat="(field,value) in items[0]" ng-hide=" (field == 'id' || field == photo) "> {{field}} </a>  
			</nav>
						
			<article class="list__item" ng-repeat="(index, item) in items | filter:search | orderBy: orderBy" >

				<img ng-src="{{serverUrl}}/public/persona/{{item.photo}}" class="list__item__img"  ng-click="openItem(item, $event)"/>

				<div class="list__item__content"  ng-click="openItem(item.id, $event)">
					<h3 class="list__item__content__title" ng-repeat="(field,value) in item" ng-hide=" (field == 'id' || field == photo) "> {{value}} </h3>
				</div>
				
			</article>  

		</section> 

