<form name='form' novalidate>
	
	<section><!-- Datos personales -->
		
		<div class="wrapper open--image"> 
			<img src="assets/images/menber_cover.jpg" alt="" class="open--image__photo">
			<input type="file" ng-model="formApp.persona.photo" ng-change="previewFile()" ng-file-select="onFileSelect($files)" />
		</div>

		<input type="text" required name="nombres" placeholder="Nombres" ng-model="formApp.persona.nombres" />
		<input type="text" required name="apellido_paterno" placeholder="Apellido paterno" ng-model="formApp.persona.apellido_paterno" />
		<input type="text" required name="apellido_materno" placeholder="Apellido materno" ng-model="formApp.persona.apellido_materno" />
		<input type="number" required name="dni" placeholder="Dni" ng-model="formApp.persona.dni" />
		<input type="text" required name="direccion" placeholder="Dirección" ng-model="formApp.persona.direccion" />
		<input type="tel" required name="telefono" placeholder="Teléfono" ng-model="formApp.persona.telefono" />
		<input type="email" required name="email" placeholder="Email" ng-model="formApp.persona.email" />
		<input type="date" required name="fecha_nacimiento" placeholder="Fecha de nacimiento" ng-model="formApp.persona.fecha_nacimiento" />

	</section>
	<!--
	<section> 
		
		 Datos Trabajador -->
		<!-- <input type="checkbox" name='estado' placeholder="Estado" ng-model="formApp.trabajador.estado" ng-true-value='1' ng-false-value='0'/> 
		
		<div class="wrapper open--checkbox">
			
			<label class="valid">Planilla</label>
			
			<input type="radio" name="planilla" ng-model="formAppAux.planillaStatus" required value="1" ng-change="formAppAux.planilla.change()" placeholder="Planilla" data-option="Si" />

			<input type="radio" name="planilla" ng-model="formAppAux.planillaStatus" required value="0" ng-change="formAppAux.planilla.change()" placeholder="Planilla" data-option="No" />

		</div>

		-->
		
		<!-- Planilla o no planilla
		<input type="number" name="sueldo" placeholder="Sueldo" ng-model="formApp.pago.sueldo" data-hide="formAppAux.sueldo.hide" required />

		<input type="date" name='fecha_contratacion' placeholder="Inicio de contratación" ng-model="formApp.asignacion_cargo.fecha_inicio" required />
		<input type="date" name='fecha_fin' placeholder="Fin de contrato" ng-model="formApp.asignacion_cargo.fecha_fin" required />

		<select yemd-selecto name="area" ng-model="formApp.asignacion_cargo.id_area" required ng-options="area.nombre for area in areas" ng-change="formAppAux.area.change()"><option value="">Área</option></select>
		
		<select yemd-selecto name="cargo" ng-model="formApp.asignacion_cargo.id_cargo" ng-disabled="formAppAux.cargo.disabled" required ng-options="cargo.nombre for cargo in cargos"><option value="">Cargo</option></select>
		 
	</section>
	
	<section> 
		
		 Usuario 

		<input type="text" name="usuario" placeholder="Usuario" ng-model="formApp.usuario.usuario"/>

		<input type="password" name="password" placeholder="Contraseña" ng-model="formApp.usuario.password"/>

		<input type="password" name="password2" placeholder="Reitere contraseña" ng-model="formApp.usuario.password2"/> 

	</section>
	-->
	<section class='modal__controls'>
		<a class="button--second" ng-click="formActions.cancel()"> CANCELAR </a>
		<input type="submit" ng-model="formApp.submit" ng-click="formActions.submit(form)" value="agregar">
	</section>

</form>