<figure class="sidenav__cover--4x3" id="vendedor-photo" >

</figure>

<article class="list__item" >
	<span class="list__item__icon mdfi_social_person"></span>
	<div class="list__item__content">
		<h3 class="list__item__content__title"> {{ item.apellido_paterno +' '+item.apellido_materno +' '+item.nombres }}</h3>
		<h3 class="list__item__content__sub-title"> Nombre completo </h3>
	</div>
</article>  

<article class="list__item" >
	<span class="list__item__icon  mdfi_notification_event_note"></span>
	<div class="list__item__content">
		<h3 class="list__item__content__title"> {{ item.fecha_nacimiento }}</h3>
		<h3 class="list__item__content__sub-title"> Fecha de nacimiento </h3>
	</div>
</article>  

<article class="list__item" >

	<input type="checkbox" name='estado' placeholder="Estado" ng-model="item.estado" ng-true-value='1' ng-false-value='0' disabled />

</article>  

<article class="list__item" >
	<span class="list__item__icon mdfi_communication_phone"></span>
	<div class="list__item__content">
		<h3 class="list__item__content__title"> {{ item.telefono }}</h3>
		<h3 class="list__item__content__sub-title"> Teléfono </h3>
	</div>
</article>  

<article class="list__item" >
	<span class="list__item__icon mdfi_communication_email"></span>
	<div class="list__item__content">
		<h3 class="list__item__content__title"> {{ item.email }}</h3>
		<h3 class="list__item__content__sub-title"> email </h3>
	</div>
</article>  

<article class="list__item" >
	<span class="list__item__icon mdfi_communication_location_on"></span>
	<div class="list__item__content">
		<h3 class="list__item__content__title"> {{ item.direccion }}</h3>
		<h3 class="list__item__content__sub-title"> Dirección </h3>
	</div>
</article>  

<article class="list__item" >
	<span class="list__item__icon  mdfi_communication_contacts"></span>
	<div class="list__item__content">
		<h3 class="list__item__content__title"> {{ item.dni }}</h3>
		<h3 class="list__item__content__sub-title"> DNI </h3>
	</div>
</article>  

<article class="list__item" >
	<span class="list__item__icon mdfi_social_person"></span>
	<div class="list__item__content">
		<h3 class="list__item__content__title"> {{ item.cargo }}</h3>
		<h3 class="list__item__content__sub-title"> Cargo </h3>
	</div>
</article>  

<article class="list__item" >
	<span class="list__item__icon mdfi_social_person"></span>
	<div class="list__item__content">
		<h3 class="list__item__content__title"> {{ item.area }}</h3>
		<h3 class="list__item__content__sub-title"> area </h3>
	</div>
</article>  

<article class="list__item" >
	<span class="list__item__icon  mdfi_notification_event_available"></span>
	<div class="list__item__content">
		<h3 class="list__item__content__title"> {{ item.fecha_contratacion }}</h3>
		<h3 class="list__item__content__sub-title"> Fecha de contratación </h3>
	</div>
</article>  




