	<article class="card">

		<form name="form" ng-submit="login(form)" novalidate>

			<input type="text" name="usuario" data-error="Campo Alfanúmerico mayor a 4 carácteres" placeholder="usuario" ng-pattern="/([A-Za-z0-9]){4,15}\w+/i"  data-icon="user" required autofocus ng-model="formApp.usuario"/>

			<input type="password" name="contrasena"  data-error="La contraseña como minimo debe tener 5 caracteres" placeholder="Contraseña"    data-icon="lock" required ng-minlength="5" ng-model="formApp.password"/> 

			<section class='modal__controls'>
				<input type="submit" ng-model="formAppAux.submit" value="Login" />
			</section>
				
		</form>	

	</article>		